.section__customer-reviews {
  padding-top: 80px;
  padding-bottom: 40px;

  @include tablett {
    padding-top: 100px;
    padding-bottom: 80px;
  }

  @include desktop {
    padding-top: 140px;
    padding-bottom: 100px;
  }
}

.customer-reviews {
  text-align: center;

  @include desktop {
    width: calc(968px + 16px * 2);
  }
}

.customer-reviews__title {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.customer-reviews__images {
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
}

.customer-reviews__text {
  width: 100%;
  padding: 35px 39px;
  background: #84a178;
  border-radius: 24px;
  margin-bottom: 32px;

  @include font(none, 12px, calc(31 / 12), none);
  color: var(--color-primary-light);

  @include tablett {
    padding: 28px 80px;

    @include font(500, 14px, calc(26 / 14), 0.04em);
  }

  @include desktop {
    padding: 43px 109px;

    @include font(none, 16px, calc(30 / 16), none);
  }
}

.customer-reviews__name {
  margin-bottom: 12px;

  @include font(500, 20px, calc(37 / 20), none);
  color: var(--color-primary-dark);

  @include tablett {
    margin-bottom: 32px;

    @include font(none, 16px, calc(30 / 16), none);
  }
}

.slick-dots li button:before {
  width: 12px !important;
  height: 12px !important;
  background-color: #d9d9d9;
  color: transparent !important;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.slick-dots li.slick-active button:before {
  background-color: var(--color-primary-green);
}
