.footer-container{
    width: 100%;
    padding: 0 20px;

    @media screen and (min-width: 768px){
        padding: 0 32px;
    }
    
@media screen and(min-width: 1200px) {
    padding: 0 16px;
    
}
   
}

.footer{
    background-color: #84A178;
}

.footer-slogan{
    @media screen and(min-width: 1200px){
position: relative;
    top: 100px;
    }
        
}

.footer-slogan_title{
    margin: 0;
    padding: 60px 66px 16px 22px;
    font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
    
        color: #FCFCFC;

        @media screen and (min-width: 768px) {
            font-weight: 700;
                font-size: 26px;
                line-height: 32px;
                letter-spacing: 0.04em;

                padding: 40px 0px 0px 0px;
        }

        @media screen and (min-width: 1200px) {
            font-style: normal;
                font-weight: 400;
                font-size: 30px;
                line-height: 37px;
                letter-spacing: 0.04em;

                padding: 60px 0px 0px 0px;
               
        }
}

.footer-slogan_list{
    margin: 0;
    padding: 16px 100px 60px 20px;
    font-style: normal;
        font-weight: 700;
        font-size: 34px;
        line-height: 41px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #FCFCFC;

        @media screen and (min-width: 768px){
            font-weight: 700;
                font-size: 48px;
                line-height: 59px;
                letter-spacing: 0.06em;

                padding: 8px 0px 0px 0px;
        }

        @media screen and (min-width: 1200px){
            font-style: normal;
                font-weight: 700;
                font-size: 58px;
                line-height: 71px;
                letter-spacing: 0.06em;

                padding: 14px 0px 0px 0px;
               
        }
}

.footer-social_list{
    margin: 0;
    padding: 0;
}
.footer-social_item{
    display: flex;
        justify-content: right;
        gap:20px;
        fill: #84A178;
        
}
.footer-icon{
    width: 34px;
    height: 34px;
    
        border-radius: 50%;

    
       
}

.footer-contact{
    display: flex;
    justify-content: right;
    margin: 20px 0px 40px 0px;
    padding: 0;

    font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 186%;
        text-align: right;

        @media screen and (min-width: 768px){
            margin: 34px 0px 60px 0px;
        }

        @media screen and (min-width: 1200px){
            margin: 40px 0px 60px 0px;
        }
        
}

.footer-contact_title{
    margin: 0;
    padding: 0;
    color: #131313;
}
.footer-contact_tel{
    color: #ffffff;
    text-decoration: none;
}

.footer-rights{
    margin: 0;
    padding: 20px 0px;
    font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 152%;
        text-align: center;
        color: #7A7A7A;
        border-top: 1px solid #E1E1E1;
}

.footer-rights_title{
    margin: 0;
        padding: 0;
}