:root {
  --font-header: 'Seymour One';

  --color-primary-green: #84a178;
  --color-primary-yellow: #f8d24e;
  --color-primary-dark: #131313;
  --color-secondary-middle: #ababab;
  --color-primary-light: #fcfcfc;
  --color-ice-cream: #aec6a5;
  --color-ice-coffee: #efd478;
  --color-milkshake: #d6936d;
}
