// utils
@import './utils/common';
@import './utils/variables';
@import './utils/mixin';
@import './utils/container';
@import './utils/hidden';
@import './utils/reset';
// components
@import './components/body';
@import './components/hero-header';
@import './components/products';
@import './components/about';
@import './components/advantages';
@import './components/gallery';
@import './components/customer-reviews';
@import './components/contacts';
@import './components/footer';
// modals
@import './components/modals/about-product';
@import './components/modals/buy-now';
@import './components/modals/read-more';
@import './components/modals/franchise-modal';
