@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(16 / 14);
  // background-color: var(--color-primary-green);
}
