<section class="contacts">
  <div class="container">
    <div class="contacts__container">
      <h2 class="hide">
        List of addresses of representative offices of companies
      </h2>
      <!--CAFE Chicago-->
      <div class="contacts__group" id="contact">
        <ul class="contact__list list" >
          <li class="location__item">
            <p class="location__title">CAFE</p>
            <p class="location__text">Chicago</p>
            <address class="location__address">
              <a
                class="location__link link"
                href="https://goo.gl/maps/mQuh4JbECJ4MTyMQ6"
                target="_blank"
                rel="noopener noreferrer"
                >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
              >
            </address>
          </li>
        </ul>
        <div class="week">
          <ul class="contact__list list">
            <li class="regime__item">
              <p class="regime-days__text">Monday - Friday</p>
              <p class="regim-time__text">
                <time datetime="06:00">06:00 AM</time>
                -<time datetime="10:00">10:00 PM</time>
              </p>
            </li>
            <li class="regime__item">
              <p class="regime-days__text">Saturday - Sunday</p>
              <p class="regim-time__text">
                <time datetime="08:00">08:00 AM</time>
                - <time datetime="16:00">16:00 PM</time>
              </p>
            </li>
          </ul>
        </div>
        <ul class="contact__list list">
          <li class="contacts__item">
            <a class="contacts__link link" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts__item">
            <a class="contacts__link link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </div>
      <!--FOOD TRUCK-->
      <div class="contacts__group">
        <ul class="contact__list list">
          <li class="location__item">
            <p class="location__title">FOODTRUCK</p>
            <p class="location__text">Los Angeles</p>
            <address class="location__address">
              <a
                class="location__link link"
                href="https://goo.gl/maps/CPZTttaFrf6dKr7Y8"
                target="_blank"
                rel="noopener noreferrer"
                >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
              >
            </address>
          </li>
        </ul>
        <div class="week">
          <ul class="contact__list list">
            <li class="regime__item">
              <p class="regime-days__text">Monday - Friday</p>
              <p class="regim-time__text">
                <time datetime="06:00">06:00 AM</time>
                -<time datetime="10:00">10:00 PM</time>
              </p>
            </li>
            <li class="regime__item">
              <p class="regime-days__text">Saturday - Sunday</p>
              <p class="regim-time__text">
                <time datetime="08:00">08:00 AM</time>
                - <time datetime="16:00">16:00 PM</time>
              </p>
            </li>
          </ul>
        </div>
        <ul class="list">
          <li class="contacts__item">
            <a class="contacts__link link" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts__item">
            <a class="contacts__link link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </div>
      <!--CAFE New York-->
      <div class="contacts__group">
        <ul class="list">
          <li class="location__item">
            <p class="location__title">CAFE</p>
            <p class="location__text">New York</p>
            <address class="location__address">
              <a
                class="location__link link"
                href="https://goo.gl/maps/RodNd6ZQvnJoHpY7A"
                target="_blank"
                rel="noopener noreferrer"
                >726 Sterling Pl, Brooklyn, NY 11222, USA</a
              >
            </address>
          </li>
        </ul>
        <div class="week">
          <ul class="list">
            <li class="regime__item">
              <p class="regime-days__text">Monday - Friday</p>
              <p class="regim-time__text">
                <time datetime="06:00">06:00 AM</time>
                -<time datetime="10:00">10:00 PM</time>
              </p>
            </li>
            <li class="regime__item">
              <p class="regime-days__text">Saturday - Sunday</p>
              <p class="regim-time__text">
                <time datetime="08:00">08:00 AM</time>
                - <time datetime="16:00">16:00 PM</time>
              </p>
            </li>
          </ul>
        </div>
        <ul class="list">
          <li class="contacts__item">
            <a class="contacts__link link" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts__item">
            <a class="contacts__link link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </div>
    </div>
    <ul class="btn__list list">
      <li class="contacts-btn__item">
        <button class="contacts__btn btn-locations" type="button" data-modal-our-location-open>
          Our Locations
          <svg class="contacts__icon" width="12" height="12">
            <use href="./images/contacts/contacts-icon.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="contacts-btn__item">
        <button class="contacts__btn btn-franchise" type="button" data-modal-franchise-modal-open>
          Franchise
          <svg class="contacts__icon" width="12" height="12">
            <use href="./images/contacts/contacts-icon.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
