<section class="section-gallery">
  <div class="container container-gallery">
    <ul class="wrapper">
      <li class="gallery-images">
        <img
          class="gallery-image"
          src="./images/gallery/brooke-dt.jpg"
          alt="морозиво в ріжку"
          srcset="
            ./images/gallery/brooke-dt.jpg    1x,
            ./images/gallery/brooke-dt-2x.jpg 2x
          "
          sizes="100vw"
        />
      </li>
      <li class="gallery-images">
        <img
          class="gallery-image"
          src="./images/gallery/courtney.jpg"
          alt="морозиво в ріжку"
          srcset="
            ./images/gallery/courtney.jpg  1x,
            ./images/gallery/courtney-2x.jpg 2x
          "
          sizes="100vw"
        />
      </li>
      <li class="gallery-images">
        <img
          class="gallery-image"
          src="./images/gallery/unsplash.jpg"
          alt="морозиво на паличці"
          srcset="
            ./images/gallery/unsplash.jpg    1x,
            ./images/gallery/unsplash-2x.jpg 2x
          "
          sizes="100vw"
        />
      </li>
    </ul>
  </div>
</section>
