<section class="hero container">
  <div class="hero__wraper">
    <div class="hero__thumb">
      <h1 class="hero__title">ice cream made with passion</h1>
      <ul class="hero-link__list">
        <li>
          <a href="#products" class="hero__link hero__btn">
            Products
          </a>
        </li>
        <li>
          <a href="#about" class="hero__link hero__link--accent">
            How it’s made??
          </a>
        </li>
      </ul>
    </div>
    <ul class="hero__list">
      <li>
        <ul class="hero-number__list">
          <li class="hero__number">16</li>
          <li class="hero__dsc">cafes</li>
        </ul>
      </li>
      <li>
        <ul class="hero-number__list">
          <li class="hero__number">23</li>
          <li class="hero__text">food trucks</li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="hero-text__wrap">
    <picture class="plate">
      <source srcset="./images/hero-header/plate-desktop.png 1x, ./images/hero-header/plate-desktop2x.png 2x"
        media="(min-width: 1200px)">
      <source srcset="./images/hero-header/plate-tab.png 1x, ./images/hero-header/plate-tab2x.png 2x"
        media="(min-width: 768px)">
      <img src="./images/hero-header/plate-tab.png" alt="plate with ice-cream">
    </picture>
    <p class="hero__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et
      <svg width="40" height="16" class="arrow">
        <use href="./images/hero-header/icons-hero-header.svg#icon-arrow"></use>
      </svg>
    </p>
  </div>
  <picture class="ice-cream">
    <source srcset="./images/hero-header/desktop.png 1x, ./images/hero-header/desktop2x.png 2x"
      media="(min-width: 1200px)">
    <source srcset="./images/hero-header/tablet.png 1x, ./images/hero-header/tablet2x.png 2x"
      media="(min-width: 768px)">
    <source srcset="./images/hero-header/mobile.png 1x, ./images/hero-header/mobile2x.png 2x"
      media="(max-width: 767px)">
    <img src="./images/hero-header/mobile.png" alt="ice-cream">
  </picture>
</section>