<section class="products">
  <div class="container">
    <p class="products__label">100% Natural</p>
    <h2 class="products__header">Products</h2>

    <div class="products__bloque">
      <ul class="products__list">
        <li class="products__card">
          <div class="products__image--icecream-color"></div>
          <div class="products__card-form icecream-color">
            <h3 class="products__list-header">Ice Cream</h3>
            <p class="products__detail">
              Soft ice cream with a delicate taste. Made with milk, cream, sugar
              and natural stabilizer
            </p>
          </div>
        </li>
        <li class="products__card">
          <div class="products__image--icecoffee-color"></div>
          <div class="products__card-form icecoffee-color">
            <h3 class="products__list-header">Ice Coffee</h3>
            <p class="products__detail">
              Fragrant invigorating drink created from 100% natural ingredients
              without the use of preservatives and flavor enhancers
            </p>
          </div>
        </li>
        <li class="products__card">
          <div class="products__image--milkshake-color"></div>
          <div class="products__card-form milkshake-color">
            <h3 class="products__list-header">Milkshakes</h3>
            <p class="products__detail">
              Sweet drinks based on milk and ice cream, supplemented with
              syrups, fruits, berries and other sweets of your choice
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
