<div class="read-mode is-hidden" data-modal-read-mode>
  <div class="read-mode__window">
    <button
      class="read-mode__buttun-close"
      type="button"
      data-modal-read-mode-close
    >
      <svg class="read-mode__close-icon" width="14" height="14">
        <use
          href="./images/read-more/read-mode-close.svg#icon-modal-close"
        ></use>
      </svg>
    </button>
    <h2 class="read-mode__title">How it’s made?</h2>
    <div class="read-mode__plauer">
      <iframe
        class="read-mode__video"
        src="https://www.youtube.com/embed/uoBjfnm4JJQ"
        title="История появления мороженого. ТМ «Рудь»"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <p class="read-mode__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
  </div>
</div>
