// .backdrop {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   z-index: 1;
// }

// .is-hidden {
//   opacity: 0;
//   visibility: hidden;
//   pointer-events: none;
// }

.modal-buy-now {
  position: relative;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  background-color: var(--color-primary-light);
  border: 1px solid var(--color-primary-yellow);
  border-radius: 10px;
  width: 280px;
  padding: 28px;

  .list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .link {
    text-decoration: none;
  }
}

// .modal-buy-now__list {
//   position: relative;
// }

// .modal-buy-now__item {
//   position: relative;
// }

// .modal-buy-now__img {
//   position: relative;
//   z-index: 1;
// }

.modal-buy-now__circle-green {
  // position: absolute;
  top: 1px;
  width: 132px;
  height: 132px;
  background-color: rgba(156, 190, 143, 0.7);
  border-radius: 50%;
}

.modal-buy-now__square-green {
  width: 132px;
  height: 132px;
  background-color: var(--color-primary-light);
  border: 1px solid #96AF8C;
  border-radius: 15px;
}

.modal-buy-now__circle-yellow {
  width: 132px;
  height: 132px;
  background-color: rgba(248, 210, 78, 0.7);
  border-radius: 50%;
}

.modal-buy-now__square-yellow {
  width: 132px;
  height: 132px;
  background-color: var(--color-ice-coffee);
  border: 1px solid rgba(212, 20, 67, 0.1);
  border-radius: 15px;
}

.modal-buy-now__circle-brown {
  width: 132px;
  height: 132px;
  background-color: rgba(213, 117, 63, 0.7);
  border-radius: 50%;
}

.modal-buy-now__square-brown {
  width: 132px;
  height: 132px;
  background-color: var(--color-primary-light);
  border: 1px solid var(--color-milkshake);
  border-radius: 15px;
}

.modal-buy-now__link {
  display: block;
  text-align: center;
  margin-top: 96px;

  color: var(--color-primary-dark);
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.contact-form__title {
  display: block;
  color: var(--color-primary-dark);
  text-align: center;
  font-size: 16px;
  line-height: calc(24 / 16);
}

.contact-form__input {
  width: 100%;
  height: 32px;
  padding: 8px 12px;
  border: 1px solid var(--color-primary-green);
  border-radius: 10px;
  outline: none;

  color: var(--color-primary-dark);
  font-size: 12px;
  line-height: calc(17 / 12);
}

.contact-form__input-phone {
  width: 100%;
  height: 32px;
  padding: 8px 48px 8px 12px;
  border: 1px solid var(--color-primary-green);
  border-radius: 10px;
  outline: none;
  margin-top: 20px;
  margin-bottom: 20px;

  color: var(--color-primary-dark);
  font-size: 12px;
  line-height: calc(17 / 12);
}

.contact-form__textarea {
  width: 100%;
  height: 65px;
  padding: 8px 48px 40px 12px;
  margin-bottom: 26px;
  border: 1px solid var(--color-primary-green);
  border-radius: 10px;
  outline: none;
  resize: none;
  overflow-y: hidden;

  color: var(--color-primary-dark);
  font-size: 12px;
  line-height: calc(17 / 12);
}

.contact-form__input:focus,
.contact-form__input-phone:focus,
.contact-form__textarea:focus {
  border-color: rgba(248, 210, 78, 0.1);
}

.contact-form__primary-button {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 12px 34px;
  width: 114px;
  height: 42px;

  color: var(--color-primary-dark);
  background-color: var(--color-primary-yellow);
  border: none;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  cursor: pointer;
}

.contact-form__primary-button:hover,
.contact-form__primary-button:focus {
  background-color: var(--color-ice-coffee);
}
.button-close {
  position: absolute;
    top: 12px;
    right: 12px;
    width: 20px;
    height: 20px;
    border: 1px solid var(--color-primary-light);
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--color-primary-light);
  }

.button-close__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-primary-dark);
}

.button-close:hover,
.button-close:focus {
    fill: var(--color-primary-yellow);
}