.franchise-modal {
    position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  overflow: auto;
  flex-wrap: wrap;
}
.franchise-modal__window {
    position: relative;
    width: 100%;
    min-width: 240px;
    max-width: 480px;
    background: #fcfcfc;
    border: 2px solid #f8d24e;
    border-radius: 10px;
    padding: 28px;
    text-align: center;
  
    @include tablett {
      max-width: 568px;
      padding: 32px 60px;
    }
}
.franchise-modal__buttun-close {
    position: absolute;
  color: #131313;
  right: 12px;
  top: 12px;
  transform: translate(-50% -50%);
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.franchise-modal__close-icon {
    fill: currentColor;
}
.franchise-modal__title {
    margin-bottom: 20px;
  font-family: 'Seymour One';
  @include font(400, 20px, calc(28 / 20), none);

  @include tablett {
    margin-bottom: 24px;
  }
}

.franchise-modal__text {
    @include font(400, 16x, calc(22 / 16), none);
    margin-bottom: 24px;
    @include tablett {
        margin-bottom: 32px;
      }
}
.franchise-form {
    margin-bottom: 24px;
    max-width: 368px;
    margin-left: auto;
    margin-right: auto;
    @include tablett {
      margin-bottom: 32px;
    }
}
.franchise-form__label {
    display: block;
    margin-bottom: 16px;
}
.franchise-form__input, .franchise-form__textarea {
    width: 100%;

    padding: 11px;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84a178;
    border-radius: 10px;
    padding-left: 10px;
  
    @include font(400, 14px, calc(20 / 14), 0.04em);
    color: #131313;
  
    @include tablett {
      padding-left: 16px;
    }
}

.franchise-form__input::placeholder,
.franchise-form__textarea::placeholder {
  @include font(400, 14px, calc(20 / 14), 0.04em);
  color: #131313;
}
.franchise-form__textarea {
    display: block;
    height: 84px;
    resize: none;
}
.franchise-button {
    background: #f8d24e;
    border-radius: 10px;
    padding: 12px 34px;
  
    @include font(600, 14px, calc(17 / 14), none);
  
    color: #131313;
    border: 0;
}

.franchise-button:hover,
.franchise-button:focus {
  background: #0a8817;
}

.franchise-button:focus {
  color: #ffffff;
}
