<section class="section__customer-reviews">
  <div class="container customer-reviews">
    <h2 class="customer-reviews__title">Customer reviews</h2>
    <img
      class="customer-reviews__images"
      src="./images/users-1.jpg"
      alt="Photo users"
      width="85"
    />
    <p class="customer-reviews__text">
      I love visiting your cafe. You prepare the most delicious ice cream in Los
      Angeles! In addition, you have beautiful serving, cozy atmosphere and
      polite staff.
    </p>
    <h3 class="customer-reviews__name">Emily, Los Angeles</h3>
    <div class="customer-reviews__slide"></div>
  </div>
</section>
