<footer class="footer">
    <div class="footer-container">

    <div class="footer-slogan">
        <h2 class="footer-slogan_title">HOMAMADE ICE CREAM MADE</h2>
        <h2 class="footer-slogan_list">WITH PASSION</h2>
    </div>

    <div class="footer-social">
        <ul class="footer-social_list">
            <li class="footer-social_item">
                <a href="">
                    <svg class="footer-icon">
                        <use href="./images/footer/symbol-defs.svg#icon-github"></use>
                    </svg>
                </a>

                <a href="">
                    <svg class="footer-icon">
                        <use href="./images/footer/symbol-defs.svg#icon-telegram"></use>
                    </svg>
                </a>

                <a href="">
                    <svg class="footer-icon">
                        <use href="./images/footer/symbol-defs.svg#icon-facebook"></use>
                    </svg>
                </a>

            </li>
        </ul>

    </div>

    <div class="footer-contact">
        <h3 class="footer-contact_title">Feel free to contact</h3>
        <a class="footer-contact_tel" href="tel:+610383766284"> +61 (0) 383 766 284</a>

    </div>

    <div class="footer-rights">
        <h3 class="footer-rights_title">© 2022 - IceCream.</h3>
        <h3 class="footer-rights_title">All Rights Reserved.</h3>
    </div>
    </div>
</footer>