body {
  background-image: url(../images/backraund/background-mobile.jpg);

  @media retina {
    background-image: url(../images/backraund/background-mobile@2x.jpg);
  }

  background-attachment: fixed;

  @include tablett {
    background-image: url(../images/backraund/background-tablet.jpg);
    @media retina {
      background-image: url(../images/backraund/background-tablet@2x.jpg);
    }
  }

  @include desktop {
    background-image: url(../images/backraund/background-desctop.jpg);
    @media retina {
      background-image: url(../images/backraund/background-desctop@2x.jpg);
    }
  }
}
