.section-gallery {
  background-color: #84a178;
  height: 32px;
  @include tablett {
    height: 98px;
  }
}
.container-gallery {
  min-width: 280px;
  max-width: 480px;
  @include tablett {
    width: 768px;
    max-width: 100%;
  }
  @include desktop {
    width: 1200px;
  }
}
.wrapper {
  position: relative;
}

.gallery-images {
  width: 100%;
  animation-name: vision;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-duration: 12s;
  animation-iteration-count: infinite;
  position: absolute;
}
.gallery-image {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  border-radius: 8px;

  @include tablett() {
    border-radius: 25px;
  }
  @include desktop() {
    max-width: 1013px;
  }
}
@keyframes vision {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.gallery-images:nth-of-type(3) {
  animation-delay: 0s;
}
.gallery-images:nth-of-type(2) {
  animation-delay: 5s;
}
.gallery-images:nth-of-type(1) {
  animation-delay: 10s;
}
