.products {
  background-color: var(--color-primary-green);
}

.products__label {
  @include font(800, 30px, calc(37 / 30), 0.04em);
  color: var(--color-primary-dark);
  text-align: center;
  text-transform: uppercase;
}

.products__header {
  font-family: var(--font-header);
  @include font(400, 36px, calc(45 / 36), 0.06em);
  text-align: center;
  text-transform: uppercase;
  color: var(--color-primary-dark);
}
